@{
    ViewBag.Title = "Upload";
} <h2> Upload The Image </h2> <p>
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{ 
    <div> Upload Image </div> <input type ="file" name = "avatar" />
    <input type = "submit" value = "upload" />
} </p> 
<table>
    <tr> <td >
    <table class = "table" style = "width:200px; " >
    <tr >
    <td style = "width:50%" > Image </td> <td style = "width:25%" > Delete </td> </tr>
    @foreach (var item in Model)
    { 
        <tr >
        <td > <img src = "@item" alt = "image here is" width = "100" height = "100" /> 
            </td> 
        <td > <input type = "button" id = "@item"
        onclick = "deleteImage('@item');"
        value = "Delete" /> </td> </tr>
    } 
        </table>
        </td > <td style = "width:100px" > </td> 
        </table> 
        <script >
        function deleteImage(item) {
        var url = "/Home/DeleteImg";
        $.post(url,
        {
        Name: item
        }, function(data)
        {
        window.location.href = "/Home/Upload";
        });
        } </script>